<h1>New publisher</h1>

<form id="new-publisher" name="publisher">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Publisher" />
  </div>

</form>

<a href="#/index">Back</a>