#publishers-list{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
#publishers-list li{
  display:inline-block;
  margin:0 5px;
  padding:5px 10px;
  border-radius:15px;
}
#publishers-list li a{
  text-decoration:none;
  color:inherit;
}
#publishers-list li:hover, #publishers-list li.active{
  background:#111111;
  color:white;
}